* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

nav {
  position: relative;
}
ul {
  list-style: none;
  margin-bottom: 40px;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  color: rgb(25, 19, 21);
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 10px 35px;
  font-weight: bold;
}

ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  width: 100%;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li a:hover {
  color: white;
  background-color: black;
}

ul li:hover ul.dropdown {
  display: block;
}

.search-bar {
  position: absolute;
  right: 20px;
  top: 8px;
}

.search-bar input {
  padding: 10px;
}

.div-marquee {
  background-color: red;
  color: white;
}

section {
  height: 100vh;
}

#clock {
  max-width: 500px;
  float: right;
  margin-top: 0px;
}

#date-time {
  font-size: 28px;
  margin-top: 0px;
}
