* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

nav {
  position: relative;
}
ul {
  list-style: none;
  margin-bottom: 30px;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  color: rgb(25, 19, 21);
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 10px 35px;
  font-weight: bold;
}

ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  width: 100%;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li a:hover {
  color: white;
  background-color: black;
}

ul li:hover ul.dropdown {
  display: block;
}

.search-bar {
  position: absolute;
  right: 20px;
  top: 8px;
}

.search-bar input {
  padding: 10px;
  border: 2px solid black;
}

.div-marquee {
  background-color: red;
  color: white;
}

section {
  height: 100vh;
}

#clock {
  max-width: 500px;
  float: right;
  margin-top: 0px;
}

#clock h1 {
  font-size: 23px;
  font-weight: bold;
}

.authentication-p {
  font-size: 20px;
}

.flex-r,
.flex-c {
  justify-content: center;
  align-items: center;
  display: flex;
}
.flex-c {
  flex-direction: column;
}
.flex-r {
  flex-direction: row;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 20px 10px;
  background: #e5e5e5;
}

.login-text {
  background-color: #f6f6f6;
  max-width: 400px;
  min-height: 500px;
  border-radius: 10px;
  padding: 10px 20px;
}

.logo {
  margin-bottom: 20px;
}
.logo span,
.logo span i {
  font-size: 25px;
  color: #0d8aa7;
}

.login-text h1 {
  font-size: 25px;
}
.login-text p {
  font-size: 15px;
  color: #000000b2;
}

form {
  align-items: flex-start !important;
  width: 100%;
  margin-top: 15px;
}

.input-box {
  margin: 10px 0px;
  width: 100%;
}

.label {
  font-size: 15px;
  color: black;
  margin-bottom: 3px;
}

.input {
  background-color: #f6f6f6;
  padding: 0px 5px;
  border: 2px solid rgb(7, 7, 7);
  border-radius: 10px;
  overflow: hidden;
  justify-content: flex-start;
}

input {
  border: none;
  outline: none;
  padding: 10px 5px;
  background-color: #f6f6f6;
  flex: 1;
}
.input i {
  color: rgba(0, 0, 0, 0.4);
}

.check span {
  color: #000000b2;
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;
}

.btn {
  color: #ffffff;
  border-radius: 30px;
  padding: 10px 15px;
  background: linear-gradient(122.33deg, #68bed1 30.62%, #1e94e9 100%);
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  transition: all 0.3s linear;
}

.btn:hover {
  transform: translateY(-2px);
}
.extra-line {
  font-size: 15px;
  font-weight: 600;
}
.extra-line a {
  color: #0095b6;
}

.div-back {
  float: right;
  margin-top: 50px;
}

.div-back a {
  font-size: 25px;
  margin-right: 100px;
}
.authentication-image,
.passport-image {
  display: inline-block;
}
